<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Blog do Node JS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      
      {{!-- Verificando se o usuário logado é Admin, e se for mostrar essas opções de menu --}}
      {{#ifCond user.eAdmin 1}}

          <li class="nav-item active">
            <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/categorias">Categorias</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/postagens">Postagens</a>
          </li>

      {{else}}

          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/categorias">Categorias</a>
          </li>

      {{/ifCond}}

      {{#if user }}

    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.nome}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Perfil</a>
          <a class="dropdown-item" href="#">Mensagens</a>
          <a class="dropdown-item" href="#">Configurações</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/usuarios/logout">Sair</a>
        </div>
      </li>

      {{else}}
      <li class="nav-item ">
        <a class="nav-link" href="/usuarios/login" >Login</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/usuarios/cadastro" >Cadastro</a>
      </li>
      
      
      {{/if}}

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../navbar/">Default</a></li>
      <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
      <li><a href="../navbar-fixed-top/">Fixed top</a></li>
    </ul>
    

    
  </div>
</nav>